<% if page.current? %>
  <li class="page-item active">
     <span class="page-link"><%= content_tag :a, page, data: { remote: remote }, rel: page.rel, class: 'page-link' %></span>
  </li>
<% else %>
  <li class="page-item">
     <span class="page-link"><%= link_to page, url, remote: remote, rel: page.rel, class: 'page-link' %></span>
  </li>
<% end %>
