<main class="container">
  <%= link_to sanitize("&larr; Back to product"), product_path(@product) %>

  <div class="header">
    <h1>Edit Review</h1>
  </div>

  <%= turbo_frame_tag @review do %>
    <%= render "form", product: @product, review: @review %>
  <% end %>
</main>