<main class="container">
  <%= link_to sanitize("&larr; Back to revies"), review_path(@review) %>

  <div class="header">
    <h1>New Review</h1>
  </div>

  <%= turbo_frame_tag @review do %>
    <%= render "form", product: @product, review: @review %>
  <% end %>
</main>